body {
	background: #f4f7fa;
	color: #2c3e50;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #34495e;
	padding: 20px;
	margin-bottom: 20px;
	color: #ecf0f1;
}

header h1 {
	color: #f1c40f;
}

.contenedor-main {
	margin-bottom: 20px;
}


.widgets {
	background: #f2f2f2;
	color: #424242;
	margin-bottom: 20px;
}

.widgets>div {
	background: #2196f3;
	color: #fff;
	padding: 20px;
}

.footer {
	background-color: #55272c;
	padding: 20px;
	color: #fff;
}

.section-2{
	background-color: #dfe6e9; 
    color: #2c3e50;
}

.section-3 {
	background-color: #a29bfe;
	padding: 20px;
	margin-bottom: 20px
}

.section-4 {
	background-color: #74b9ff;
	padding: 20px;
	margin-bottom: 20px
}

#descp {
	background-color: rgba(150, 69, 69, 0.625);
	padding: 20px;
	margin-bottom: 20px
}

#info {
	background-color: #dfe6e9;
	color: #2c3e50;
	padding: 20px;
	margin-bottom: 20px
}

.carousel-item {
	height: 400px;
	text-align: center;
}

.carousel-item img {
	height: 400px;
}

.nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.nav a {
	display: inline-block;
	padding: 10px 20px;
	margin: 0 5px;
	border-radius: 5px;
	background-color: #2980b9;
	color: #fff;
	text-decoration: none;
	transition: background-color 0.3s, transform 0.2s;
}

nav a:hover {
	background-color: #47adb0;
	transform: translateY(-3px);
}

.footer span {
	display: block;
	margin-bottom: 5px;
	color: #f1c40f;
}

#personal {
	background-color: rgba(33, 31, 35, 0.392);
	padding: 20px;
	margin-bottom: 20px
}

#htb{
	padding: 20px;
	margin-bottom: 20px
}